torch==2.0.1
torchvision==0.15.2
numpy
scipy
scikit-image
opencv-python
pillow
diffusers==0.20.2
transformers
xformers==0.0.19
accelerate
matplotlib
tqdm
gradio
einops
onnxruntime
basicsr
av
cloudpickle
fvcore
omegaconf==2.1
hydra-core
pycocotools

# ./preprocess/detectron2
# ./preprocess/detectron2/projects/DensePose