torch
torchvision
numpy
scipy
scikit-image
opencv-python
pillow
diffusers
transformers
accelerate
matplotlib
tqdm
gradio
einops
onnxruntime
basicsr
# ./preprocess/detectron2
# ./preprocess/detectron2/projects/DensePose