torch==1.12.1
torchvision==0.13.1
numpy
scipy
scikit-image
opencv-python
pillow
diffusers==0.20.2
transformers==4.33.2
xformers==0.0.13
accelerate==0.20.3
matplotlib
tqdm
gradio==3.44.4
einops
onnxruntime
basicsr==1.4.2
av
cloudpickle
fvcore
omegaconf==2.1
hydra-core
pycocotools